<div class="ecart-product-container">
<!-- <img [src]="Product.PImage" alt="Firoz Image" height="100px" width="80px">
<p>Name: {{Product.name}}</p>
<p>Price: {{ '$'+ Product.price}}</p>
<p>Colour: {{Product.color}}</p>
<p>Discounted Price: {{'$' + getDiscountedPrice().toFixed(2)}}</p>
<p>{{Product.inStock>0? 'only ' + Product.inStock +' item Left':'Not available'}}</p>
<button (click)="decrementCartValue()" >-</button>
<span>{{addToCard}}</span>
<button (click)="incrimentCartValue()">+</button> -->

<!-- <input  (input)="onNameChange($event)">
<p>name={{Name}}</p> -->
<app-search></app-search>
<product-list></product-list>

</div>